body.dark {
    --ion-color-primary : #FFFFFF;
    --ion-color-secondary : #000000;
    --ion-color-tertiary: #000000;
    --ion-color-light: #f4f5f8;
    --ion-background-color : #363636;
    --ion-color-medium: #1341f9;
}

